<div class="hero">
	<br/>
	<br/>
	<br/>
	<br/>

	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br/>
		<h1>Imparting Knowledge From a New Perspective</h1>
		<br/>
		<h2>Lessons from our children</h2>
		<br/>
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
		<br/><br/>
	</div>
</div>
<br/>
<div class="col-xs-10 col-xs-offset-1 features text-center">
	<div class="col-sm-4"
		<h3>On Your Time</h3>
	</div>
	<div class="col-sm-4"
		<h3>Where You Want</h3>
	</div>
	<div class="col-sm-4"
		<h3>For the Right Price</h3>
	</div>
</div>
