$footer-height: 100px;

html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	height: auto;
	overflow: auto;
}
.footer-columns {
	margin: 0;
	padding: 10px;

	.page-wrap:after {
		height: 100px;
	}

	ul {
	list-style: none;
	display: inline-block;
	color: white;
	padding-right: 25px;
	font-family: 'Josefin Sans', sans-serif;
	
		a{
				text-decoration: none;
		}
	}
}